@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&family=Libre+Bodoni:ital,wght@0,400..700;1,400..700&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import "tailwindcss";

@source '../../vendor/laravel/framework/src/Illuminate/Pagination/resources/views/*.blade.php';
@source '../../storage/framework/views/*.php';
@source '../**/*.blade.php';
@source '../**/*.js';

@theme {
  --font-sans:
    "Instrument Sans", ui-sans-serif, system-ui, sans-serif,
    "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  
  --font-mono: "IBM Plex Mono", monospace;

  --color-background: #ffedd6;
  --color-habit-orange: #FB6334;
  --color-habit-bg: #FFDAAC;
}


.habit-bg {
  background-size: 65px 65px;
  background-image: linear-gradient(90deg, #80808033 1px, #0000 0), linear-gradient(#80808033 1px, #0000 0);
  background-color: var(--color-background);
}

.habit-shadow {
  border: 2px solid #000;
  box-shadow: 2px 2px 0px #000;
}

.habit-shadow-lg {
  border: 3px solid #000;
  box-shadow: 3px 3px 0px #000;
  transition: .3s ease;
}

.habit-shadow-lg:hover {
  box-shadow: 0px 0px 0px #000;
}

.habit-btn {
  font-weight: 700;
  cursor: pointer;
}